<ng-container
  *ngTemplateOutlet="isDesktopView() ? largeLayout : smallLayout"
></ng-container>

<ng-template #largeLayout>
  <div class="flex h-full">
    <app-sidenav />
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </div>
</ng-template>
<ng-template #smallLayout>
  <p-drawer [visible]="isSideNavOpen()" (onHide)="onHideDraw()">
    <ng-template #headless>
      <app-sidenav (hasNavigated)="handleSidenavNavigation()" />
    </ng-template>
  </p-drawer>
  <div class="flex h-full max-h-screen">
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </div>
</ng-template>

<ng-template #main>
  <div class="flex flex-col grow max-w-screen">
    <app-navbar />
    <app-toast />
    <div
      class="flex justify-stretch lg:justify-center h-full bg-gray-50 lg:p-5"
    >
      <div class="lg:container w-full">
        @if (isDesktopView()) {
          <app-page-title>
            <!-- @if (pageData().filterByPeriod) { -->
            <!--   <app-entry-filter-date /> -->
            <!-- } -->
          </app-page-title>
        }
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>
