<div class="h-screen w-screen bg-gray-100">
  <div class="flex h-full">
    <app-sidenav />
    <div class="w-full h-full">
      <app-navbar />
      <div class="container p-5">
        <app-page-title></app-page-title>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex h-full"> -->
<!--   <app-sidenav /> -->
<!--   <div class="flex flex-col grow"> -->
<!--     <app-navbar /> -->
<!--     <div class="flex justify-center bg-gray-100 p-5 h-full"> -->
<!--       <div class="container"> -->
<!--         <app-page-title></app-page-title> -->
<!--         <router-outlet></router-outlet> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
