<ng-container [ngSwitch]="platformInfo().viewSize">
  <ng-container *ngSwitchCase="'large'">
    <ng-container *ngTemplateOutlet="largeLayout"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'small'">
    <ng-container *ngTemplateOutlet="smallLayout"></ng-container>
  </ng-container>
</ng-container>

<ng-template #largeLayout>
  <div class="flex h-full">
    <app-sidenav />
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </div>
</ng-template>
<ng-template #smallLayout>
  <p-drawer [visible]="isSideNavOpen()" (onHide)="onHideDraw()">
    <ng-template #headless>
      <app-sidenav (hasNavigated)="handleSidenavNavigation()" />
    </ng-template>
  </p-drawer>
  <div class="flex h-full">
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </div>
</ng-template>

<ng-template #main>
  <div class="flex flex-col grow">
    <app-navbar />
    <app-toast />
    <div
      class="flex justify-stretch lg:justify-center h-full bg-gray-50 lg:p-5 max-w-screen"
    >
      <div class="lg:container w-full">
        @if (platformInfo().viewSize === "large") {
          <app-page-title>
            <!-- @if (pageData().filterByPeriod) { -->
            <!--   <app-entry-filter-date /> -->
            <!-- } -->
          </app-page-title>
        }
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>
