<p-card>
  <div class="flex justify-center">
    <form [formGroup]="form" (ngSubmit)="submit()" class="size-1/2">
      <!-- name -->
      <div class="my-6">
        <p-floatlabel>
          <input pInputText formControlName="name" id="name" fluid="true" />
          <label for="name">Nombre de la cuenta</label>
        </p-floatlabel>
      </div>
      <!-- initial balance -->
      <div class="my-6">
        <p-floatlabel>
          <p-inputnumber
            inputId="balance"
            mode="currency"
            currency="MXN"
            fluid="true"
            formControlName="initialBalance"
          />
          <label for="balance">Balance inicial</label>
        </p-floatlabel>
      </div>
      <!-- Mark Default -->
      <div class="my-6">
        <p-checkbox
          formControlName="isDefault"
          binary="true"
          inputId="isDefault"
        />
        <label for="isDefault" class="ml-2">Default</label>
      </div>

      <div class="my-6">
        @if (form.value.isDefault) {
          <p-message icon="pi pi-info-circle" severity="info">
            <span
              >Marcar una cuenta como default evitara que sea eliminada.</span
            >
            <br />
            <small
              >Para eliminarla deberias editarla y quitarle la propiedad
              'Default'</small
            >
          </p-message>
        }
      </div>

      <!-- Options -->
      <div class="mt-10 flex justify-center gap-x-8">
        <p-button
          label="Cancelar"
          (click)="cancel()"
          severity="secondary"
          [text]="true"
        />

        <p-button type="submit" size="small" pButton label="Guardar" />
      </div>
    </form>
  </div>
</p-card>
