/* In your component's CSS file or global stylesheet */
.p-speeddial {
  align-items: flex-end !important;
}
.p-speeddial-open {
  align-items: flex-end !important;
}
.p-speeddial-list {
  background-color: transparent;
  border: 0px;
  padding: 0px;
}
