<p-toolbar>
  <ng-template #start>
    <div class="flex items-center gap-3">
      <p-button
        (click)="handleSideNavState()"
        icon="pi pi-bars"
        severity="secondary"
        text="true"
        class="lg:invisible"
      />
      <h2 class="font-bold text-gray-700 md:invisible lg:invisible">
        {{ pageData()?.pageTitle }}
      </h2>
    </div>
  </ng-template>
  <ng-template #end>
    <p-menu #menu [model]="items()" [popup]="true" />
    @if (isDesktopView()) {
      <span class="me-5">{{ user()?.email }}</span>
    }

    <p-avatar
      (click)="menu.toggle($event)"
      icon="pi pi-user"
      class="cursor-pointer"
      shape="circle"
    />
  </ng-template>
</p-toolbar>
