<div class="card">
  <p-toolbar>
    <ng-template #start>
      <div class="flex items-center gap-2">
        <p-button
          icon="pi pi-bars"
          [text]="true"
          severity="secondary"
          (click)="openSideNav()"
        />
      </div>
    </ng-template>

    <ng-template #end>
      @if (user$ | async; as user) {
        <span class="me-5">{{ user.email }}</span>
        <p-menu #menu [model]="items" [popup]="true" />
        <p-avatar
          [label]="user.email"
          styleClass="mr-2"
          (click)="menu.toggle($event)"
          class="cursor-pointer"
        />
      }
    </ng-template>
  </p-toolbar>
</div>
