@if (mode === "button") {
  @if (entryTypes$ | async; as entryTypes) {
    <div class="flex gap-2 bg-gray-100 p-2 rounded-lg">
      @for (btn of entryTypes; track btn) {
        <p-button
          styleClass="w-45"
          (click)="selectButton(btn)"
          [severity]="
            formControl.value.publicId === btn.publicId
              ? selectedSeverity()
              : 'secondary'
          "
          [label]="btn.displayName"
        />
      }
    </div>
  }
} @else if (mode === "select") {
  <p-floatlabel>
    <p-select
      optionLabel="displayName"
      fluid="true"
      [id]="inpId"
      [inputId]="inpId"
      [name]="inpId"
      [formControl]="formControl"
      [options]="(entryTypes$ | async)!"
      (onChange)="select($event)"
      (onBlur)="onTouched()"
      [overlayOptions]="{ mode: isDesktopView() ? 'overlay' : 'modal' }"
    >
      <ng-template #header>
        @if (isMobileView()) {
          <div class="font-medium p-3">-- Tipo --</div>
        }
      </ng-template>
    </p-select>
    <label [for]="inpId">Tipo </label>
  </p-floatlabel>
}
