<div>
  <pre>{{ searchObj | json }}</pre>
  @if (entries) {
    <!-- <p-button (click)="showDialog()" label="Show" /> -->
    <!-- <p-dialog -->
    <!--   header="Filtrar Registros" -->
    <!--   [modal]="true" -->
    <!--   [(visible)]="visible" -->
    <!--   [style]="{ width: '50rem', height: '100rem' }" -->
    <!-- > -->
    <!--   <app-entries-filter-form (search)="filter($event)" /> -->
    <!-- </p-dialog> -->

    <!-- Options -->
    <div class="flex justify-between p-10 w-full bg-gray-200">
      <!-- Filtros -->
      <div>aqui van los filtros</div>
      <!-- Botones -->
      <div>Aqui van los botones</div>
    </div>
    <!-- Table -->
    <p-table
      [value]="entries.data"
      [paginator]="false"
      stripedRows
      [customSort]="true"
      (onSort)="sort($event)"
      [sortOrder]="searchObj.order === 'ASC' ? 1 : -1"
      [sortField]="searchObj.orderBy"
      [lazy]="true"
    >
      <ng-template #header>
        <tr>
          @if (showAccountColumn) {
            <th pSortableColumn="account">
              Cuenta <p-sortIcon field="account" />
            </th>
          }

          <th pSortableColumn="description">
            Descripcion <p-sortIcon field="description" />
          </th>
          <th pSortableColumn="category">
            Categoria <p-sortIcon field="category" />
          </th>
          <th pSortableColumn="type">Tipo <p-sortIcon field="type" /></th>
          <th pSortableColumn="createdAt">
            Creado <p-sortIcon field="createdAt" />
          </th>
          <th pSortableColumn="amount">Monto <p-sortIcon field="amount" /></th>
        </tr>
      </ng-template>
      <ng-template #body let-entry>
        <tr>
          @if (showAccountColumn) {
            <td>{{ entry.account }}</td>
          }

          <td>{{ entry.description | titlecase }}</td>
          <td>{{ entry.category }}</td>
          <td>{{ entry.type }}</td>
          <td>{{ entry.createdAt | date }}</td>
          <td>
            <app-amount
              [amount]="
                entry.type === 'Gasto' ? entry.amount * -1 : entry.amount
              "
            ></app-amount>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <!-- Pagination -->
    <p-paginator
      (onPageChange)="onPageChange($event, entries.meta)"
      [rows]="searchObj.take"
      [totalRecords]="entries.meta.itemCount"
      [rowsPerPageOptions]="[5, 10, 25, { showAll: 'All' }]"
      [first]="entries.meta.take * entries.meta.page"
    />
  }
</div>
