<form [formGroup]="loginForm" (ngSubmit)="submit()" #formDirective="ngForm">
  <!-- Email -->
  <div class="mb-6">
    <p-floatlabel>
      <input
        pInputText
        formControlName="email"
        id="email"
        fluid="true"
        [appInvalidDirty]="formDirective"
        autocomplete="on"
      />
      <label for="email">Email</label>
    </p-floatlabel>
    <p [appValidationError]="'email'" [directive]="formDirective"></p>
  </div>
  <!-- Password -->
  <div class="my-6">
    <p-floatlabel>
      <p-password
        formControlName="password"
        fluid="true"
        feedback="false"
        [appInvalidDirty]="formDirective"
        inputId="password"
        autocomplete="off"
      />
      <label for="password">Contraseña</label>
    </p-floatlabel>
    <p [appValidationError]="'email'" [directive]="formDirective"></p>
  </div>

  <!-- Rememberme/forgotPassword-->
  <div class="my-6 flex justify-between items-center">
    <!-- <div> -->
    <!--   <p-checkbox formControlName="rememberme" inputId="ny" /> -->
    <!--   <label for="ny" class="ml-2">Recordarme</label> -->
    <!-- </div> -->
    <!---->
    <!-- <p-button -->
    <!--   label="Olvide mi contraseña" -->
    <!--   variant="text" -->
    <!--   severity="secondary" -->
    <!--   size="small" -->
    <!--   [link]="true" -->
    <!--   [routerLink]="['/registrar']" -->
    <!-- /> -->
  </div>

  <div class="my-6 min-h-12">
    <app-error-message />
  </div>
  <!-- Options -->
  <div class="mb-6 mt-10 flex flex-col items-stretch">
    <p-button
      label="Entrar"
      [loading]="isBusy()"
      type="submit"
      [rounded]="true"
      fluid="true"
    />

    <div class="w-full flex justify-center mt-5">
      <p-button
        label="Crear Cuenta"
        severity="info"
        [link]="true"
        [routerLink]="['/registrar']"
        [disabled]="isBusy()"
      />
    </div>
  </div>
</form>
