<p-card header="Cuentas">
  @if (accounts$ | async; as accounts) {
    <p-table [value]="accounts.data" [paginator]="false">
      <ng-template #caption>
        <div class="flex justify-between">
          <p-iconField iconPosition="left">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input pInputText type="text" placeholder="Buscar" size="small" />
          </p-iconField>
          <p-button
            icon="pi pi-plus"
            label="Nueva Cuenta"
            [routerLink]="['/accounts/new']"
          />
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th>Cuenta</th>
          <th>Creado</th>
          <th>Balance</th>
          <th>Default</th>
          <th style="width: 5%"></th>
          <th style="width: 5%"></th>
        </tr>
      </ng-template>
      <ng-template #body let-account>
        <tr>
          <td>{{ account.name }}</td>
          <td>{{ account.createdAt | date }}</td>
          <td>
            <p-tag
              [severity]="
                account.balance > 0
                  ? 'success'
                  : account.balance < 0
                    ? 'danger'
                    : 'secondary'
              "
            >
              {{ account.balance | currency }}
            </p-tag>
          </td>
          <td>
            <p-checkbox
              [(ngModel)]="account.isDefault"
              [binary]="true"
              [disabled]="true"
            />
          </td>
          <td>
            <p-button
              icon="pi pi-pencil"
              [rounded]="true"
              [text]="true"
              severity="secondary"
              variant="outlined"
              [routerLink]="[account.publicId, 'edit']"
            />
          </td>
          <td>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              [text]="true"
              variant="outlined"
              severity="danger"
              [routerLink]="[account.publicId, 'delete']"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
    @if (accounts.meta.pageCount > 1) {
      <p-paginator
        (onPageChange)="onPageChange($event, accounts.meta)"
        [rows]="accounts.meta.take"
        [totalRecords]="accounts.meta.itemCount"
        [rowsPerPageOptions]="[5, 10, 25, { showAll: 'All' }]"
        [first]="accounts.meta.take * accounts.meta.page"
      />
    }
  }
</p-card>
