<div class="flex items-stretch justify-stretch">
  <p-tabs [value]="selected()?.publicId!">
    @for (cat of categories(); track cat.publicId) {
      <p-tablist orientation="left">
        <p-tab [value]="cat.publicId">{{ cat.name | titlecase }}</p-tab>
      </p-tablist>
    }
  </p-tabs>

  <!-- Contenido -->
  <div class="w-full">
    <app-entry-category-card [category]="selected()" />

    <p-divider />
    @for (cat of selected()?.subCategories; track cat.publicId) {
      <app-entry-category-card [category]="cat" />
      <p-divider />
    }
  </div>
</div>
