<div class="grid grid-cols-2 gap-5">
  <p-card>
    <form [formGroup]="form" #formDirective="ngForm">
      <!-- ---- FRECUENCIA ---- -->
      <div class="grid grid-cols-2 gap-5"></div>

      <!-- ---- RECURRENCIA ---- -->
      @if (
        form.value.frecuency !==
        (frecuencyEnum | enumReverse)[frecuencyEnum.ONE_TIME]
      ) {
        <app-recurrence-form [form]="form" />
      }

      <!-- Options -->
    </form>
  </p-card>
  <pre>value: {{ form.value | json }}</pre>
  <br />
  <pre>valid dayOfWeek: {{ form.controls["dayOfWeek"].errors | json }}</pre>
</div>
