<form [formGroup]="form">
  <!-- Frecuency & Date -->
  <div class="grid grid-cols-2 gap-x-5">
    <!-- Frecuency -->
    <div class="my-6">
      <app-select-enum
        formControlName="frecuency"
        label="Frecuencia"
        [enum]="frecuencyEnum"
        [directive]="formDirective"
        [inpId]="'frecuency'"
      />
    </div>
    <!-- StartDate -->
    <div class="my-6">
      <p-floatlabel>
        <p-datepicker
          formControlName="startDate"
          inputId="startDate"
          fluid="true"
          showIcon="true"
          id="startDate"
          [appInvalidDirty]="formDirective"
        />
        <label for="startDate">Fecha Inicio</label>
      </p-floatlabel>
      <p [appValidationError]="'startDate'" [directive]="formDirective"></p>
    </div>
  </div>
  <!-- Recurrency -->
  @if (frecuency() === "RECURRENT") {
    <div class="grid grid-cols-2 gap-x-5">
      <!-- Repeat -->
      <div class="my-6">
        <app-select-enum
          formControlName="recurrency"
          label="Repetir"
          [enum]="recurrencyEnum"
          [directive]="formDirective"
          [inpId]="'recurrency'"
        />
      </div>

      @if (recurrency() === "WEEKLY") {
        <div class="my-6">
          <app-select-enum
            formControlName="dayOfWeek"
            label="Cada dia"
            [enum]="daysOfWeek"
            [directive]="formDirective"
            [inpId]="'dayOfWeek'"
          />
        </div>
      }

      @if (recurrency() === "MONTHLY") {
        <div class="my-6">
          <p-floatlabel>
            <p-select
              inputId="dayOfMonth"
              id="dayOfMonth"
              [options]="daysOfMonth"
              fluid="true"
              formControlName="dayOfMonth"
              [appInvalidDirty]="formDirective"
            />
            <label for="dayOfMonth">Cada dia</label>
          </p-floatlabel>
          <p
            [appValidationError]="'dayOfMonth'"
            [directive]="formDirective"
          ></p>
        </div>
      }
    </div>
    <div class="grid grid-cols-2 gap-x-5">
      <!-- FrecuencyEnd -->
      <div class="my-6">
        <app-select-enum
          formControlName="frecuencyEnd"
          label="Hasta"
          [enum]="frecuencyEndEnum"
          [directive]="formDirective"
          [inpId]="'frecuencyEnd'"
        />
      </div>
      @if (frecuencyEnd() === "UNTIL_DATE") {
        <div class="my-6">
          <p-floatlabel>
            <p-datepicker
              formControlName="endDate"
              inputId="endDate"
              fluid="true"
              showIcon="true"
              id="endDate"
              [appInvalidDirty]="formDirective"
            />
            <label for="endDate">Fecha Fin</label>
          </p-floatlabel>
          <p [appValidationError]="'endDate'" [directive]="formDirective"></p>
        </div>
      }
      @if (frecuencyEnd() === "NUMBER_OF_EVENTS") {
        <div class="my-6">
          <p-floatlabel>
            <p-inputnumber
              [appInvalidDirty]="formDirective"
              inputId="numberOfEvents"
              formControlName="numberOfEvents"
              fluid="true"
            />
            <label for="numberOfEvents">Numbero de eventos</label>
          </p-floatlabel>
          <p [appValidationError]="'endDate'" [directive]="formDirective"></p>
        </div>
      }
    </div>
  }
</form>
