<p-floatlabel>
  <p-select
    optionLabel="displayName"
    fluid="true"
    [id]="inpId"
    [inputId]="inpId"
    [name]="inpId"
    [options]="accountTypes()"
    [formControl]="formControl"
    (onChange)="select($event)"
    (onBlur)="onTouched()"
    [appInvalidDirty]="directive"
    [overlayOptions]="{ mode: isDesktopView() ? 'overlay' : 'modal' }"
  >
    <ng-template #header>
      @if (isMobileView()) {
        <div class="font-medium p-3">-- Cuentas --</div>
      }
    </ng-template>
  </p-select>
  <label [for]="inpId">Tipo de Cuenta</label>
</p-floatlabel>
