<div>
  <!-- Table -->
  <table
    mat-table
    [dataSource]="source.dataSource"
    class="mat-elevation-z8"
    matSort
    (matSortChange)="sortData($event)"
    matSortActive="createdAt"
  >
    <!-- Columns -->
    @for (column of source.columns; track column.def) {
      <ng-container [matColumnDef]="column.def">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>
          {{ column.header | titlecase }}
        </th>
        <td mat-cell *matCellDef="let element">
          @switch (column.type) {
            @case ("boolean") {
              <mat-checkbox
                [checked]="element[column.def]"
                disabledInteractive="true"
              >
              </mat-checkbox>
            }
            @default {
              <span>
                {{ element[column.def] | dynamicPipe: column.pipeFormat }}
              </span>
            }
          }
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="columnsDef"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsDef"></tr>
  </table>
  <mat-paginator
    #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="source.meta.itemCount"
    [pageSize]="source.meta.take"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[5, 10, 25]"
    [hidePageSize]="false"
    [pageIndex]="source.meta.page"
    aria-label="Select page"
  >
  </mat-paginator>
  <!-- End table -->
</div>
