<div class="d-flex gap-3">
  @for (acc of accounts$ | async; track acc.publicId) {
    <mat-card appearance="outlined" class="acc-card">
      <mat-card-header>
        <mat-card-title> {{ acc.name | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ acc.balance | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button>View</button>
      </mat-card-actions>
    </mat-card>
  }
  <mat-card
    appearance="outlined"
    class="acc-card-action"
    (click)="addAccount()"
  >
    <mat-card-actions
      class="d-flex justify-content-center align-items-center h-100"
    >
      <button mat-button>+</button>
    </mat-card-actions>
  </mat-card>
</div>
