<p-floatlabel>
  <p-select
    optionLabel="name"
    optionValue="value"
    [id]="inpId"
    [inputId]="inpId"
    [name]="inpId"
    [options]="groupedEntryCategories"
    [fluid]="true"
    [group]="true"
    [formControl]="formControl"
    (onChange)="select($event)"
    (onBlur)="onTouched()"
    [appInvalidDirty]="directive"
    [inputId]="inpId"
  >
    <ng-template let-group pTemplate="group">
      <div class="group-header">
        {{ group.label }}
      </div>
    </ng-template>

    <ng-template let-option let-index="i" pTemplate="item">
      <div class="group-item pl-3">
        {{ option.label }}
      </div>
    </ng-template>
    <ng-template #selectedItem let-selectedOption>
      @if (selectedOption) {
        <div>
          <div>{{ selectedOption.label }}</div>
        </div>
      }
    </ng-template>
  </p-select>

  <label for="category">Categoria</label>
</p-floatlabel>
