<p-floatlabel>
  <p-select
    [options]="groupedEntryCategories"
    optionLabel="name"
    optionValue="value"
    [fluid]="true"
    [group]="true"
    name="category"
    id="category"
    [formControl]="formControl"
    (onChange)="select($event)"
    [appInvalidDirty]="directive"
  >
    <ng-template let-group pTemplate="group">
      <div class="group-header">
        {{ group.label }}
      </div>
    </ng-template>

    <ng-template let-option let-index="i" pTemplate="item">
      <div class="group-item pl-3">
        {{ option.label }}
      </div>
    </ng-template>
    <ng-template #selectedItem let-selectedOption>
      @if (selectedOption) {
        <div>
          <div>{{ selectedOption.label }}</div>
        </div>
      }
    </ng-template>
  </p-select>

  <label for="entryCategory">Categoria</label>
</p-floatlabel>
