<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
      </mat-form-field>

      <div class="d-flex justify-content-center">
        <button class="w-75" mat-flat-button>Create Account</button>
      </div>
    </form>
    <div class="mt-5 d-flex justify-content-center">
      <a href="#" [routerLink]="['/']" mat-button>I already have an account!</a>
    </div>
  </div>
</div>
