<p-floatlabel>
  <p-select
    optionLabel="name"
    fluid="true"
    [id]="inpId"
    [inputId]="inpId"
    [name]="inpId"
    [options]="accounts()"
    [formControl]="formControl"
    (onChange)="select($event)"
    (onBlur)="onTouched()"
    [appInvalidDirty]="directive"
    styleClass="min-w-3xs"
  >
    <ng-template #selectedItem let-selectedOption>
      @if (selectedOption) {
        <div>{{ selectedOption.name | titlecase }}</div>
      }
    </ng-template>
    <ng-template let-account #item>
      <div>{{ account.name | titlecase }}</div>
    </ng-template>
  </p-select>

  <label for="account">Cuenta</label>
</p-floatlabel>
