<div>
  @if (user$ | async; as user) {
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
      <ng-template #header>
        <img
          alt="Card"
          class="w-full"
          src="https://primefaces.org/cdn/primeng/images/card-ng.jpg"
        />
      </ng-template>
      <ng-template #title>
        <div class="flex justify-between">
          <h2 class="text-bold">Perfil</h2>
          <small class="text-gray-400"
            >Desde: {{ user.createdAt | date: "shortDate" }}</small
          >
        </div>
      </ng-template>
      <div class="flex flex-col my-10">
        <p class="p-3 text-gray-600">
          {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
        </p>
        <hr class="text-gray-300" />
        <p class="p-3 text-gray-600">{{ user.email }}</p>
        <hr class="text-gray-300" />
        <p class="p-3 text-gray-600">
          {{ user.dateOfBirth | date: "longDate" }}
        </p>
        <hr class="text-gray-300" />
      </div>
      <ng-template #footer>
        <div class="flex justify-center">
          <p-button
            label="Editar"
            [rounded]="true"
            routerLink="/profile/edit"
          />
        </div>
      </ng-template>
    </p-card>
  }
</div>
