.sidenav {
  height: 100%;
  width: 300px;
  transition: 0.4s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.sidenav.collapsed {
  width: 0px;
  visibility: collapse;
  opacity: 0;
}

.active {
  background-color: var(--p-primary-200);
  border-right: 2px solid var(--p-primary-500);
  color: var(--p-green-800);
}
