.sidenav {
  background-color: var(--card-bg);
  border: var(--card-border);
  // padding: 2rem;
  margin-bottom: 1rem;
  // border-radius: 10px;
  width: 20rem;
}

.sidenav.collapsed {
  width: 0px;
  visibility: collapse;
  opacity: 0;
}

.active {
  background-color: var(--p-primary-200);
  border-right: 2px solid var(--p-primary-500);
  color: var(--p-green-800);
}
