/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "primeicons/primeicons.css";

html {
  font-size: 14px;
  margin: 0px;
}

:root {
  // --body-bg: var(--p-surface-50);
  --body-bg: white;

  --body-text-color: var(--p-surface-900);
  --card-border: 1px solid var(--border-color);
  --card-bg: var(--p-surface-0);
  --border-color: var(--p-surface-200);
  --text-color: var(--p-surface-700);
  --overlay-background: #ffffff;
}

body {
  margin: 0px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: normal;
  color: var(--body-text-color);
}

//mobile version
.page {
  padding-top: calc(var(--spacing) * 3);
  height: calc(100vh - 10%);
  max-height: calc(100vh - 10%);
}

/* Para pantallas grandes (lg: 1024px) */
@media (min-width: 1024px) {
  .page {
    padding-top: 0px;
    padding: calc(var(--spacing) * 3);
    height: calc(100vh - 15%);
    max-height: calc(100vh - 15%);
  }
}
