<div class="h-max">
  <p-card header="componentes disponibles" class="h-full">
    <!-- content -->
    <p-splitter [style]="{ height: '70vh' }" styleClass="mb-8">
      <ng-template #panel>
        <div class="flex items-center justify-center h-full">
          <pre>{{ form.value | json }}</pre>
        </div>
      </ng-template>
      <ng-template #panel>
        <form [formGroup]="form">
          <p-splitter class="h-full" layout="vertical">
            <ng-template #panel>
              <div class="flex justify-center pt-10 min-h-56">
                <app-select-entry-category formControlName="category" />
              </div>
            </ng-template>
            <ng-template #panel>
              <div class="flex pt-10 justify-center min-h-56">
                <app-select-entry-type formControlName="entryType" />
              </div>
            </ng-template>
          </p-splitter>
        </form>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
